# Header
menu:
  Home: /
  Archives: /archives
  Components: /components
  Examples: /examples
#rss: /atom.xml
github: https://github.com/bianruanjian/widgets-web


# Content
excerpt_link: Read More
fancybox: false

# Sidebar
sidebar: false
widgets:
- category
- tag
- tagcloud
- archive
- recent_posts

# display widgets at the bottom of index pages (pagination == 2)
index_widgets:
# - category
# - tagcloud
# - archive

# widget behavior
archive_type: 'monthly'
show_count: false

# Miscellaneous
google_analytics:
gauges_analytics:
favicon: /favicon.png
twitter:
google_plus:
fb_admins:
fb_app_id:
