        .page-features .compare a{
            color: #2f9976;
        }
        .page-features .compare table tr{
            font-size: large;
            height: 3.5rem;
            vertical-align: middle;
        }
        .table thead th {
            vertical-align: middle;
            border-bottom: 2px solid #dee2e6;
        }
        .page-features .compare table .widgets-web{
        background: #2ec186;
        border-color: #2ec186;
        }
        .page-features .compare table thead th {
            background: #4a4a4a;
            border-color: #4a4a4a;
            text-align: center;
            font-size: 80%;
            width: 8%;
        }
        .page-features .compare table tbody th, .page-features .compare table tbody td {
            height: 4rem;
            vertical-align: middle;
        }
        .page-features .compare table td {
            text-align: center;
            color: #7c8ea1;
        }
        .page-features .compare .legend {
            margin-bottom: 1rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .page-features .compare table td.yes::after,.page-features .compare table td.extension::after,.page-features .compare table td.partial::after,.page-features .compare table td.third-party::after {
         font-family:FontAwesome;
         font-style:normal;
         font-weight:normal;
         text-decoration:inherit;
         font-size:20px;
         top:50%;
         left:50%;
         z-index:1
        }
        .page-features .compare table td.yes::after {
         content:"\f00c"
        }
        .page-features .compare table td.extension::after {
         content:"\f1e6"
        }
        .page-features .compare table td.third-party::after {
         content:"\f08e"
        }
        .page-features .compare table td.partial::after {
         content:"\f089"
        }
        .page-features .compare table .intern {
         background:#2ec186;
         border-color:#2ec186
        }
        .page-features .compare table .intern.yes::after {
         color:#fafbfc
        }
        .page-features .compare .legend {
         margin-bottom:1rem;
         display:-webkit-box;
         display:-ms-flexbox;
         display:flex;
         -webkit-box-orient:vertical;
         -webkit-box-direction:normal;
         -ms-flex-direction:column;
         flex-direction:column
        }
        .page-features .compare .legend>div {
         display:-webkit-box;
         display:-ms-flexbox;
         display:flex;
         -webkit-box-orient:horizontal;
         -webkit-box-direction:normal;
         -ms-flex-direction:row;
         flex-direction:row
        }
        .page-features .compare .legend>div:not(:last-child) {
         margin-bottom:0.25rem
        }
        .page-features .compare .legend>div>div {
         display:inline-block
        }
        .page-features .compare .legend>div>div:first-child {
         width:2rem;
         position:relative
        }
        .page-features .compare .legend>div>div:first-child .fa {
         position:absolute;
         top:50%;
         -webkit-transform:translateY(-50%);
         transform:translateY(-50%)
        }
        .html-fixed,.page-docs {
         height:100%;
         min-height:100%
        }
        