<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  

  
  <title>ListGroup | Dojo2-bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="列表 基本用法通用属性 Spacing  属性   名称 显示名 默认值 可选值 值类型     widgetId 标识   string   flush 无边框 false true, false boolean     ListGroup下支持放Button、Link和ListItem部件">
<meta property="og:type" content="website">
<meta property="og:title" content="ListGroup">
<meta property="og:url" content="https://bianruanjian.github.io/components/Layout/ListGroup.html">
<meta property="og:site_name" content="Dojo2-bootstrap">
<meta property="og:description" content="列表 基本用法通用属性 Spacing  属性   名称 显示名 默认值 可选值 值类型     widgetId 标识   string   flush 无边框 false true, false boolean     ListGroup下支持放Button、Link和ListItem部件">
<meta property="og:locale" content="default">
<meta property="og:updated_time" content="2018-04-19T05:55:15.440Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="ListGroup">
<meta name="twitter:description" content="列表 基本用法通用属性 Spacing  属性   名称 显示名 默认值 可选值 值类型     widgetId 标识   string   flush 无边框 false true, false boolean     ListGroup下支持放Button、Link和ListItem部件">
  
  
    <link rel="icon" href="/favicon.png">
  
  
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  
  
  <link href="//cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/button/button-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/container/container-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/view/view-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/grid-row/grid-row-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/grid-column/grid-column-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/main.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/style.css">
</head>

<body class="
">
  <div id="container">
    <div id="wrap">
      <header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <!-- <h1 id="logo-wrap">
        <a href="/dojo2-bootstrap/" id="logo">Dojo2-bootstrap</a>
      </h1> -->
      
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        
          <a class="main-nav-link" href="/dojo2-bootstrap/">Home</a>
        
          <a class="main-nav-link" href="/dojo2-bootstrap/archives">Archives</a>
        
          <a class="main-nav-link" href="/dojo2-bootstrap/components">Components</a>
        
      </nav>
      <nav id="sub-nav">
        
          <a id="nav-github-link" target="_blank" class="nav-icon" href="https://github.com/bianruanjian/dojo2-bootstrap" ></a>
        
        <a id="nav-search-btn" class="nav-icon" title="Search"></a>
      </nav>
      <!-- <div id="search-form-wrap">
        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form"><input type="search" name="q" class="search-form-input" placeholder="Search"><button type="submit" class="search-form-submit">&#xF002;</button><input type="hidden" name="sitesearch" value="https://bianruanjian.github.io"></form>
      </div> -->
    </div>
  </div>
</header>
      <div class="outer">
        <section id="main"><section class="section">
	<div class="container-fluid">
		<div class="columns">
			<div class="column is-2 menu-sidebar">
				<aside class="menu">
    
<p class="menu-label">
        Basic
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Addon.html">
                    Addon
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Badge.html">
                    Badge
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Button.html">
                    Button
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Label.html">
                    Label
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Text.html">
                    Text
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Data
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Data/Image.html">
                    Image
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Form
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/Checkbox.html">
                    Checkbox
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/InputGroup.html">
                    InputGroup
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/Radio.html">
                    Radio
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/Select.html">
                    Select
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/TextInput.html">
                    TextInput
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Layout
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/Container.html">
                    Container
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/GridColumn.html">
                    GridColumn
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/GridRow.html">
                    GridRow
                </a>
            </li>
        
            <li
                class="active" 
            >
                <a href="/dojo2-bootstrap/components/Layout/ListGroup.html">
                    ListGroup
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/ListItem.html">
                    ListItem
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/View.html">
                    View
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Utilities
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Border.html">
                    Border
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Colors.html">
                    Colors
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Flex.html">
                    Flex
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Float.html">
                    Float
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Spacing.html">
                    Spacing
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Text.html">
                    Text
                </a>
            </li>
        
    </ul>

</aside>

			</div>
			<div class="column is-10 article">
				<article id="components-" class="article article-type-components" itemscope itemprop="blogPost">
  <div class="article-meta">
    
      
    
  </div>
  <div class="article-inner">
    
    
      <header class="article-header">
        
  
    <h1 class="article-title" itemprop="name">
      ListGroup
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>列表</p>
<h2 id="基本用法"><a href="#基本用法" class="headerlink" title="基本用法"></a>基本用法</h2><h2 id="通用属性"><a href="#通用属性" class="headerlink" title="通用属性"></a>通用属性</h2><ol>
<li><a href="../Utilities/Spacing.html">Spacing</a></li>
</ol>
<h2 id="属性"><a href="#属性" class="headerlink" title="属性"></a>属性</h2><table>
<thead>
<tr>
<th>名称</th>
<th>显示名</th>
<th>默认值</th>
<th>可选值</th>
<th>值类型</th>
</tr>
</thead>
<tbody>
<tr>
<td>widgetId</td>
<td>标识</td>
<td></td>
<td></td>
<td>string</td>
</tr>
<tr>
<td>flush</td>
<td>无边框</td>
<td>false</td>
<td>true, false</td>
<td>boolean</td>
</tr>
</tbody>
</table>
<ol>
<li><code>ListGroup</code>下支持放<code>Button</code>、<code>Link</code>和<code>ListItem</code>部件</li>
</ol>

      
    </div>
    <footer class="article-footer">
      
      
    </footer>
  </div>
  
    
  
</article>


			</div>
		</div>
	</div>
</section>
</section>
        
      </div>
      
       
      
    </div>
    <nav id="mobile-nav">
  
    <a href="/dojo2-bootstrap/" class="mobile-nav-link">Home</a>
  
    <a href="/dojo2-bootstrap/archives" class="mobile-nav-link">Archives</a>
  
    <a href="/dojo2-bootstrap/components" class="mobile-nav-link">Components</a>
  
</nav>
    
  
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  -->
  <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  
  
  
  <script src="/dojo2-bootstrap/js/script.js"></script>
  

  
  
  <script src="/dojo2-bootstrap/js/components/button/button-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/container/container-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/view/view-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/grid-row/grid-row-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/grid-column/grid-column-1.0.0.js"></script>
  </div>
</body>
</html>