<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  

  
  <title>View | Dojo2-bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="页面布局容器，可灵活设置容器的宽度、边框样式、内间距、外间距和字体样式等。 基本用法铺满全屏                铺满全屏         1&amp;lt;db-view widgetId=&quot;id&quot;&amp;gt;铺满全屏&amp;lt;/db-view&amp;gt; 限定宽度                限定宽度        1&amp;lt;db-view maxWidth=&quot;250&quot;&amp;gt;限定宽度&amp;lt;/db">
<meta property="og:type" content="website">
<meta property="og:title" content="View">
<meta property="og:url" content="https://bianruanjian.github.io/components/Layout/View.html">
<meta property="og:site_name" content="Dojo2-bootstrap">
<meta property="og:description" content="页面布局容器，可灵活设置容器的宽度、边框样式、内间距、外间距和字体样式等。 基本用法铺满全屏                铺满全屏         1&amp;lt;db-view widgetId=&quot;id&quot;&amp;gt;铺满全屏&amp;lt;/db-view&amp;gt; 限定宽度                限定宽度        1&amp;lt;db-view maxWidth=&quot;250&quot;&amp;gt;限定宽度&amp;lt;/db">
<meta property="og:locale" content="default">
<meta property="og:updated_time" content="2018-04-28T09:02:19.013Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="View">
<meta name="twitter:description" content="页面布局容器，可灵活设置容器的宽度、边框样式、内间距、外间距和字体样式等。 基本用法铺满全屏                铺满全屏         1&amp;lt;db-view widgetId=&quot;id&quot;&amp;gt;铺满全屏&amp;lt;/db-view&amp;gt; 限定宽度                限定宽度        1&amp;lt;db-view maxWidth=&quot;250&quot;&amp;gt;限定宽度&amp;lt;/db">
  
  
    <link rel="icon" href="/favicon.png">
  
  
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  
  
  <link href="//cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/button/button-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/container/container-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/view/view-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/grid-row/grid-row-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/grid-column/grid-column-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/image/image-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/text/text-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/components/label/label-1.0.0.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/main.css">
  <link rel="stylesheet" href="/dojo2-bootstrap/css/style.css">
</head>

<body class="
">
  <div id="container">
    <div id="wrap">
      <header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <!-- <h1 id="logo-wrap">
        <a href="/dojo2-bootstrap/" id="logo">Dojo2-bootstrap</a>
      </h1> -->
      
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        
          <a class="main-nav-link" href="/dojo2-bootstrap/">Home</a>
        
          <a class="main-nav-link" href="/dojo2-bootstrap/archives">Archives</a>
        
          <a class="main-nav-link" href="/dojo2-bootstrap/components">Components</a>
        
      </nav>
      <nav id="sub-nav">
        
          <a id="nav-github-link" target="_blank" class="nav-icon" href="https://github.com/bianruanjian/dojo2-bootstrap" ></a>
        
        <a id="nav-search-btn" class="nav-icon" title="Search"></a>
      </nav>
      <!-- <div id="search-form-wrap">
        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form"><input type="search" name="q" class="search-form-input" placeholder="Search"><button type="submit" class="search-form-submit">&#xF002;</button><input type="hidden" name="sitesearch" value="https://bianruanjian.github.io"></form>
      </div> -->
    </div>
  </div>
</header>
      <div class="outer">
        <section id="main"><section class="section">
	<div class="container-fluid">
		<div class="columns">
			<div class="column is-2 menu-sidebar">
				<aside class="menu">
    
<p class="menu-label">
        Basic
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Addon.html">
                    Addon
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Badge.html">
                    Badge
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Button.html">
                    Button
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Icon.html">
                    Icon
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Label.html">
                    Label
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Link.html">
                    Link
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Basic/Text.html">
                    Text
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Data
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Data/Image.html">
                    Image
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Form
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/Checkbox.html">
                    Checkbox
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/InputGroup.html">
                    InputGroup
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/Radio.html">
                    Radio
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/Select.html">
                    Select
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/TextInput.html">
                    TextInput
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Form/Textarea.html">
                    Textarea
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Layout
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/Card.html">
                    Card
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/Container.html">
                    Container
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/Footer.html">
                    Footer
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/GridColumn.html">
                    GridColumn
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/GridRow.html">
                    GridRow
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/ListGroup.html">
                    ListGroup
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Layout/ListItem.html">
                    ListItem
                </a>
            </li>
        
            <li
                class="active" 
            >
                <a href="/dojo2-bootstrap/components/Layout/View.html">
                    View
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Utilities
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Border.html">
                    Border
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Colors.html">
                    Colors
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Flex.html">
                    Flex
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Float.html">
                    Float
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Text.html">
                    Text
                </a>
            </li>
        
            <li
                
            >
                <a href="/dojo2-bootstrap/components/Utilities/Spacing.html">
                    Spacing
                </a>
            </li>
        
    </ul>

</aside>

			</div>
			<div class="column is-10 article">
				<article id="components-" class="article article-type-components" itemscope itemprop="blogPost">
  <div class="article-meta">
    
      
    
  </div>
  <div class="article-inner">
    
    
      <header class="article-header">
        
  
    <h1 class="article-title" itemprop="name">
      View
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>页面布局容器，可灵活设置容器的宽度、边框样式、内间距、外间距和字体样式等。</p>
<h2 id="基本用法"><a href="#基本用法" class="headerlink" title="基本用法"></a>基本用法</h2><p>铺满全屏</p>

<div style="background-color:white;height:100px; border: 1px solid;" class="container-fluid">
    <div id="id" style="background-color:#80bdff;height:90%; border: 1px solid blue;" class="mt-1">
        铺满全屏
    </div>
</div>


<figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="name">db-view</span> <span class="attr">widgetId</span>=<span class="string">"id"</span>&gt;</span>铺满全屏<span class="tag">&lt;/<span class="name">db-view</span>&gt;</span></span><br></pre></td></tr></table></figure>
<p>限定宽度</p>

<div style="background-color:white;height:100px; border: 1px solid; " class="container-fluid">
    <div style="background-color:#80bdff;height:90%; border: 1px solid blue; max-width:75%;" class="mt-1">
        限定宽度
    </div>
</div>

<figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="name">db-view</span> <span class="attr">maxWidth</span>=<span class="string">"250"</span>&gt;</span>限定宽度<span class="tag">&lt;/<span class="name">db-view</span>&gt;</span></span><br></pre></td></tr></table></figure>
<h2 id="通用属性"><a href="#通用属性" class="headerlink" title="通用属性"></a>通用属性</h2><ol>
<li><a href="../Utilities/Border.html">Border</a></li>
<li><a href="../Utilities/Spacing.html">Spacing</a></li>
<li><a href="../Utilities/Text.html">Text</a></li>
</ol>
<h2 id="属性"><a href="#属性" class="headerlink" title="属性"></a>属性</h2><table>
<thead>
<tr>
<th>名称</th>
<th>说明</th>
<th>默认值</th>
<th>可选值</th>
<th>值类型</th>
</tr>
</thead>
<tbody>
<tr>
<td>widgetId</td>
<td>标识</td>
<td></td>
<td></td>
<td>string</td>
</tr>
<tr>
<td>maxWidth</td>
<td>最大宽度</td>
<td></td>
<td></td>
<td>number/undefined</td>
</tr>
</tbody>
</table>
<ol>
<li><code>maxWidth</code>属性的值为数字时，设置最大宽度；不设置值时铺满全屏。</li>
</ol>

      
    </div>
    <footer class="article-footer">
      
      
    </footer>
  </div>
  
    
  
</article>


			</div>
		</div>
	</div>
</section>
</section>
        
      </div>
      
       
      
    </div>
    <nav id="mobile-nav">
  
    <a href="/dojo2-bootstrap/" class="mobile-nav-link">Home</a>
  
    <a href="/dojo2-bootstrap/archives" class="mobile-nav-link">Archives</a>
  
    <a href="/dojo2-bootstrap/components" class="mobile-nav-link">Components</a>
  
</nav>
    
  
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  -->
  <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  
  
  
  <script src="/dojo2-bootstrap/js/script.js"></script>
  

  
  
  <script src="/dojo2-bootstrap/js/components/button/button-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/container/container-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/view/view-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/grid-row/grid-row-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/grid-column/grid-column-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/image/image-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/text/text-1.0.0.js"></script>
  <script src="/dojo2-bootstrap/js/components/label/label-1.0.0.js"></script>
  </div>
</body>
</html>