---
layout: features
bodyClass: page-features
title: features compare
date: 2018-03-29 08:42:17
tags: 
---

<section class="section compare is-active">
    <div class="container">
        <h1 class="title is-3">How does button compare?</h1>
       
        <table class="table is-bordered is-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="widgets-web">
                        <a href="https://bianruanjian.github.io/widgets-web/" title="Webdriver.io">widgets-web</a>
                    </th>
                    <th>
                        <a href="https://bootstrap-vue.js.org/docs/components/button" title="bootstrap-vue">Bootstrap-vue</a>
                    </th>
                    <th>
                        <a href="https://react-bootstrap.github.io/components/buttons/" title="react-bootstrap">React-bootstrap</a>
                    </th>
                    <th>
                        <a href="https://ng-bootstrap.github.io/#/components/buttons/examples" title="ng-bootstrap">Ng-bootstrap</a>
                    </th>
                    <th>
                        <a href="https://developers.weixin.qq.com/miniprogram/dev/component/button.html" title="weixin">Weixin</a>
                    </th>
                    <th>
                        <a href="https://ant.design/components/button-cn/" title="Jest">Ant.design</a>
                    </th>
                    <th>
                        <a href="http://element-cn.eleme.io/#/zh-CN/component/button" title="Mocha">Element</a>
                    </th>
                    <th>
                        <a href="https://react.semantic-ui.com/elements/button" title="Nightwatch">React.semantic-ui</a>
                    </th>
                    <th>
                        <a href="http://docs.tinper.org/neoui/component.html#基础-1" title="tinper">Tinper</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>appearance</th>
                    <!--intern-->
                    <td class="widgets-web yes"></td>
                    <!--ava-->
                    <td class="yes"></td>
                    <!--busterjs-->
                    <td class="yes"></td>
                    <!--jasmine-->
                    <td class="yes"></td>
                    <!--jest-->
                    <td class="yes"></td>
                    <!--mocha-->
                    <td class="yes"></td>
                    <!--nightwatch-->
                    <td class="no"></td>
                    <!--qunit-->
                    <td class="yes"></td>
                    <!--webdriver-->
                    <td class="no"></td>
                </tr>
            </tbody>
        </table>

        <div class="legend">
            <div>
                <div>
                    <span class="fa fa-check"></span>
                </div>
                <div>Supported out-of-the-box</div>
            </div>
            <div>
                <div>
                    <span class="fa fa-plug"></span>
                </div>
                <div>Supported via plugin/extension</div>
            </div>
            <div>
                <div>
                    <span class="fa fa-external-link"></span>
                </div>
                <div>Supported via third party library</div>
            </div>
        </div>

    </div>
</section>