<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  

  
  <title>Spacing | widgets-web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="间距 基本用法属性   名称 说明 默认值 可选值 值类型     marginTop 顶外边距 default 0, 1, 2, 3, 4, 5, auto, default string   marginBottom 底外边距 default 0, 1, 2, 3, 4, 5, auto, default string   marginLeft 左外边距 default 0, 1, 2, 3,">
<meta property="og:type" content="website">
<meta property="og:title" content="Spacing">
<meta property="og:url" content="https://bianruanjian.github.io/components/Utilities/Spacing.html">
<meta property="og:site_name" content="widgets-web">
<meta property="og:description" content="间距 基本用法属性   名称 说明 默认值 可选值 值类型     marginTop 顶外边距 default 0, 1, 2, 3, 4, 5, auto, default string   marginBottom 底外边距 default 0, 1, 2, 3, 4, 5, auto, default string   marginLeft 左外边距 default 0, 1, 2, 3,">
<meta property="og:locale" content="default">
<meta property="og:updated_time" content="2018-06-15T09:28:09.333Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Spacing">
<meta name="twitter:description" content="间距 基本用法属性   名称 说明 默认值 可选值 值类型     marginTop 顶外边距 default 0, 1, 2, 3, 4, 5, auto, default string   marginBottom 底外边距 default 0, 1, 2, 3, 4, 5, auto, default string   marginLeft 左外边距 default 0, 1, 2, 3,">
  
  
    <link rel="icon" href="/favicon.png">
  
  
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  
  
  <link href="//cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="//cdn.bootcss.com/svg-injector/1.1.3/svg-injector.min.js"></script>
  <link rel="stylesheet" href="/widgets-web/css/components/button/button-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/container/container-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/view/view-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/grid-row/grid-row-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/grid-column/grid-column-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/image/image-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/text/text-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/label/label-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/text-input/text-input-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/input-group/input-group-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/addon/addon-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/textarea/textarea-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/badge/badge-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/card/card-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/checkbox/checkbox-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/footer/footer-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/icon/icon-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/link/link-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/list-group/list-group-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/list-item/list-item-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/radio/radio-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/select/select-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/main.css">
  <link rel="stylesheet" href="/widgets-web/css/style.css">
</head>

<body class="
">
  <div id="container">
    <div id="wrap">
      <header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <!-- <h1 id="logo-wrap">
        <a href="/widgets-web/" id="logo">widgets-web</a>
      </h1> -->
      
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        
          <a class="main-nav-link" href="/widgets-web/">Home</a>
        
          <a class="main-nav-link" href="/widgets-web/archives">Archives</a>
        
          <a class="main-nav-link" href="/widgets-web/components">Components</a>
        
      </nav>
      <nav id="sub-nav">
        
          <a id="nav-github-link" target="_blank" class="nav-icon" href="https://github.com/bianruanjian/widgets-web" ></a>
        
        <a id="nav-search-btn" class="nav-icon" title="Search"></a>
      </nav>
      <!-- <div id="search-form-wrap">
        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form"><input type="search" name="q" class="search-form-input" placeholder="Search"><button type="submit" class="search-form-submit">&#xF002;</button><input type="hidden" name="sitesearch" value="https://bianruanjian.github.io"></form>
      </div> -->
    </div>
  </div>
</header>
      <div class="outer">
        <section id="main"><section class="section">
	<div class="container-fluid">
		<div class="columns">
			<div class="column is-2 menu-sidebar">
				<aside class="menu">
    
<p class="menu-label">
        Basic
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Addon.html">
                    Addon
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Badge.html">
                    Badge
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Icon.html">
                    Icon
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Button.html">
                    Button
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Label.html">
                    Label
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Link.html">
                    Link
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Text.html">
                    Text
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Data
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Data/Image.html">
                    Image
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Form
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Form/Checkbox.html">
                    Checkbox
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/Radio.html">
                    Radio
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/Select.html">
                    Select
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/InputGroup.html">
                    InputGroup
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/Textarea.html">
                    Textarea
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/TextInput.html">
                    TextInput
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Layout
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/Card.html">
                    Card
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/Container.html">
                    Container
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/Footer.html">
                    Footer
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/GridColumn.html">
                    GridColumn
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/GridRow.html">
                    GridRow
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/ListGroup.html">
                    ListGroup
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/View.html">
                    View
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/ListItem.html">
                    ListItem
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Utilities
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Border.html">
                    Border
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Colors.html">
                    Colors
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Display.html">
                    Display
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Flex.html">
                    Flex
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Text.html">
                    Text
                </a>
            </li>
        
            <li
                class="active" 
            >
                <a href="/widgets-web/components/Utilities/Spacing.html">
                    Spacing
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Float.html">
                    Float
                </a>
            </li>
        
    </ul>

</aside>

			</div>
			<div class="column is-10 article">
				<article id="components-" class="article article-type-components" itemscope itemprop="blogPost">
  <div class="article-meta">
    
      
    
  </div>
  <div class="article-inner">
    
    
      <header class="article-header">
        
  
    <h1 class="article-title" itemprop="name">
      Spacing
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>间距</p>
<h2 id="基本用法"><a href="#基本用法" class="headerlink" title="基本用法"></a>基本用法</h2><h2 id="属性"><a href="#属性" class="headerlink" title="属性"></a>属性</h2><table>
<thead>
<tr>
<th>名称</th>
<th>说明</th>
<th>默认值</th>
<th>可选值</th>
<th>值类型</th>
</tr>
</thead>
<tbody>
<tr>
<td>marginTop</td>
<td>顶外边距</td>
<td>default</td>
<td>0, 1, 2, 3, 4, 5, auto, default</td>
<td>string</td>
</tr>
<tr>
<td>marginBottom</td>
<td>底外边距</td>
<td>default</td>
<td>0, 1, 2, 3, 4, 5, auto, default</td>
<td>string</td>
</tr>
<tr>
<td>marginLeft</td>
<td>左外边距</td>
<td>default</td>
<td>0, 1, 2, 3, 4, 5, auto, default</td>
<td>string</td>
</tr>
<tr>
<td>marginRight</td>
<td>右外边距</td>
<td>default</td>
<td>0, 1, 2, 3, 4, 5, auto, default</td>
<td>string</td>
</tr>
<tr>
<td>paddingTop</td>
<td>顶内边距</td>
<td>default</td>
<td>0, 1, 2, 3, 4, 5, auto, default</td>
<td>string</td>
</tr>
<tr>
<td>paddingBottom</td>
<td>底内边距</td>
<td>default</td>
<td>0, 1, 2, 3, 4, 5, auto, default</td>
<td>string</td>
</tr>
<tr>
<td>paddingLeft</td>
<td>左内边距</td>
<td>default</td>
<td>0, 1, 2, 3, 4, 5, auto, default</td>
<td>string</td>
</tr>
<tr>
<td>paddingRight</td>
<td>右内边距</td>
<td>default</td>
<td>0, 1, 2, 3, 4, 5, auto, default</td>
<td>string</td>
</tr>
</tbody>
</table>

      
    </div>
    <footer class="article-footer">
      
      
    </footer>
  </div>
  
    
  
</article>


			</div>
		</div>
	</div>
</section>
</section>
        
      </div>
      
       
      
    </div>
    <nav id="mobile-nav">
  
    <a href="/widgets-web/" class="mobile-nav-link">Home</a>
  
    <a href="/widgets-web/archives" class="mobile-nav-link">Archives</a>
  
    <a href="/widgets-web/components" class="mobile-nav-link">Components</a>
  
</nav>
    
  
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  -->
  <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  
  
  
  <script src="/widgets-web/js/script.js"></script>
  

  
  
  <script src="/widgets-web/js/components/button/button-1.0.0.js"></script>
  <script src="/widgets-web/js/components/container/container-1.0.0.js"></script>
  <script src="/widgets-web/js/components/view/view-1.0.0.js"></script>
  <script src="/widgets-web/js/components/grid-row/grid-row-1.0.0.js"></script>
  <script src="/widgets-web/js/components/grid-column/grid-column-1.0.0.js"></script>
  <script src="/widgets-web/js/components/image/image-1.0.0.js"></script>
  <script src="/widgets-web/js/components/text/text-1.0.0.js"></script>
  <script src="/widgets-web/js/components/label/label-1.0.0.js"></script>
  <script src="/widgets-web/js/components/text-input/text-input-1.0.0.js"></script>
  <script src="/widgets-web/js/components/input-group/input-group-1.0.0.js"></script>
  <script src="/widgets-web/js/components/addon/addon-1.0.0.js"></script>
  <script src="/widgets-web/js/components/textarea/textarea-1.0.0.js"></script>
  <script src="/widgets-web/js/components/badge/badge-1.0.0.js"></script>
  <script src="/widgets-web/js/components/card/card-1.0.0.js"></script>
  <script src="/widgets-web/js/components/checkbox/checkbox-1.0.0.js"></script>
  <script src="/widgets-web/js/components/footer/footer-1.0.0.js"></script>
  <script src="/widgets-web/js/components/icon/icon-1.0.0.js"></script>
  <script src="/widgets-web/js/components/link/link-1.0.0.js"></script>
  <script src="/widgets-web/js/components/list-group/list-group-1.0.0.js"></script>
  <script src="/widgets-web/js/components/list-item/list-item-1.0.0.js"></script>
  <script src="/widgets-web/js/components/radio/radio-1.0.0.js"></script>
  <script src="/widgets-web/js/components/select/select-1.0.0.js"></script>
  </div>
</body>
</html>