<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  

  
  <title>Components | widgets-web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="基于 dojo2 和 bootstrap 编写的一套组件。  属性值设置为default, 等同于不设置该属性。 在部件的设计中发现以下属性都在描述“是否水平铺满显示”，需考虑能否统一名称： Container 的 fluidWidth -&amp;gt; Container 的 fluid Button 的 block -&amp;gt; Button 的 fluid Checkbox 的 inline -&amp;g">
<meta property="og:type" content="website">
<meta property="og:title" content="Components">
<meta property="og:url" content="https://bianruanjian.github.io/components/index.html">
<meta property="og:site_name" content="widgets-web">
<meta property="og:description" content="基于 dojo2 和 bootstrap 编写的一套组件。  属性值设置为default, 等同于不设置该属性。 在部件的设计中发现以下属性都在描述“是否水平铺满显示”，需考虑能否统一名称： Container 的 fluidWidth -&amp;gt; Container 的 fluid Button 的 block -&amp;gt; Button 的 fluid Checkbox 的 inline -&amp;g">
<meta property="og:locale" content="default">
<meta property="og:updated_time" content="2018-05-09T02:40:57.716Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Components">
<meta name="twitter:description" content="基于 dojo2 和 bootstrap 编写的一套组件。  属性值设置为default, 等同于不设置该属性。 在部件的设计中发现以下属性都在描述“是否水平铺满显示”，需考虑能否统一名称： Container 的 fluidWidth -&amp;gt; Container 的 fluid Button 的 block -&amp;gt; Button 的 fluid Checkbox 的 inline -&amp;g">
  
  
    <link rel="icon" href="/favicon.png">
  
  
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  
  
  <script src="//use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
  <link href="//cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/widgets-web/css/components/button/button-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/container/container-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/view/view-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/grid-row/grid-row-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/grid-column/grid-column-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/image/image-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/text/text-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/label/label-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/text-input/text-input-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/input-group/input-group-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/addon/addon-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/textarea/textarea-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/badge/badge-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/card/card-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/checkbox/checkbox-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/footer/footer-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/icon/icon-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/link/link-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/list-group/list-group-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/list-item/list-item-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/radio/radio-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/components/select/select-1.0.0.css">
  <link rel="stylesheet" href="/widgets-web/css/main.css">
  <link rel="stylesheet" href="/widgets-web/css/style.css">
</head>

<body class="
">
  <div id="container">
    <div id="wrap">
      <header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <!-- <h1 id="logo-wrap">
        <a href="/widgets-web/" id="logo">widgets-web</a>
      </h1> -->
      
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        
          <a class="main-nav-link" href="/widgets-web/">Home</a>
        
          <a class="main-nav-link" href="/widgets-web/archives">Archives</a>
        
          <a class="main-nav-link" href="/widgets-web/components">Components</a>
        
      </nav>
      <nav id="sub-nav">
        
          <a id="nav-github-link" target="_blank" class="nav-icon" href="https://github.com/bianruanjian/widgets-web" ></a>
        
        <a id="nav-search-btn" class="nav-icon" title="Search"></a>
      </nav>
      <!-- <div id="search-form-wrap">
        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form"><input type="search" name="q" class="search-form-input" placeholder="Search"><button type="submit" class="search-form-submit">&#xF002;</button><input type="hidden" name="sitesearch" value="https://bianruanjian.github.io"></form>
      </div> -->
    </div>
  </div>
</header>
      <div class="outer">
        <section id="main"><section class="section">
	<div class="container-fluid">
		<div class="columns">
			<div class="column is-2 menu-sidebar">
				<aside class="menu">
    
<p class="menu-label">
        Basic
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Addon.html">
                    Addon
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Badge.html">
                    Badge
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Button.html">
                    Button
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Icon.html">
                    Icon
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Label.html">
                    Label
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Link.html">
                    Link
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Basic/Text.html">
                    Text
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Data
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Data/Image.html">
                    Image
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Form
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Form/Checkbox.html">
                    Checkbox
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/InputGroup.html">
                    InputGroup
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/Radio.html">
                    Radio
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/Select.html">
                    Select
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/TextInput.html">
                    TextInput
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Form/Textarea.html">
                    Textarea
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Layout
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/Card.html">
                    Card
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/Container.html">
                    Container
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/Footer.html">
                    Footer
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/GridColumn.html">
                    GridColumn
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/GridRow.html">
                    GridRow
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/ListGroup.html">
                    ListGroup
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/ListItem.html">
                    ListItem
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Layout/View.html">
                    View
                </a>
            </li>
        
    </ul>

<p class="menu-label">
        Utilities
    </p>

    <ul class="menu-list">
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Border.html">
                    Border
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Colors.html">
                    Colors
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Flex.html">
                    Flex
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Float.html">
                    Float
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Text.html">
                    Text
                </a>
            </li>
        
            <li
                
            >
                <a href="/widgets-web/components/Utilities/Spacing.html">
                    Spacing
                </a>
            </li>
        
    </ul>

</aside>

			</div>
			<div class="column is-10 article">
				<article id="components-" class="article article-type-components" itemscope itemprop="blogPost">
  <div class="article-meta">
    
      
    
  </div>
  <div class="article-inner">
    
    
      <header class="article-header">
        
  
    <h1 class="article-title" itemprop="name">
      Components
    </h1>
  

      </header>
    
    <div class="article-entry" itemprop="articleBody">
      
        <p>基于 dojo2 和 bootstrap 编写的一套组件。</p>
<ol>
<li>属性值设置为<code>default</code>, 等同于不设置该属性。</li>
<li>在部件的设计中发现以下属性都在描述“是否水平铺满显示”，需考虑能否统一名称：<ol>
<li><code>Container</code> 的 <code>fluidWidth</code> -&gt; <code>Container</code> 的 <code>fluid</code></li>
<li><code>Button</code> 的 <code>block</code> -&gt; <code>Button</code> 的 <code>fluid</code></li>
<li><code>Checkbox</code> 的 <code>inline</code> -&gt; <code>Checkbox</code> 的 <code>fluid</code></li>
<li><code>Radio</code> 的 <code>inline</code> -&gt; <code>Radio</code> 的 <code>fluid</code></li>
<li><code>Image</code> 的 <code>fluid</code> -&gt; <code>Image</code> 的 <code>fluid</code></li>
</ol>
</li>
</ol>

      
    </div>
    <footer class="article-footer">
      
      
    </footer>
  </div>
  
    
  
</article>


			</div>
		</div>
	</div>
</section>
</section>
        
      </div>
      
       
      
    </div>
    <nav id="mobile-nav">
  
    <a href="/widgets-web/" class="mobile-nav-link">Home</a>
  
    <a href="/widgets-web/archives" class="mobile-nav-link">Archives</a>
  
    <a href="/widgets-web/components" class="mobile-nav-link">Components</a>
  
</nav>
    
  
  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  -->
  <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  
  
  
  <script src="/widgets-web/js/script.js"></script>
  

  
  
  <script src="/widgets-web/js/components/button/button-1.0.0.js"></script>
  <script src="/widgets-web/js/components/container/container-1.0.0.js"></script>
  <script src="/widgets-web/js/components/view/view-1.0.0.js"></script>
  <script src="/widgets-web/js/components/grid-row/grid-row-1.0.0.js"></script>
  <script src="/widgets-web/js/components/grid-column/grid-column-1.0.0.js"></script>
  <script src="/widgets-web/js/components/image/image-1.0.0.js"></script>
  <script src="/widgets-web/js/components/text/text-1.0.0.js"></script>
  <script src="/widgets-web/js/components/label/label-1.0.0.js"></script>
  <script src="/widgets-web/js/components/text-input/text-input-1.0.0.js"></script>
  <script src="/widgets-web/js/components/input-group/input-group-1.0.0.js"></script>
  <script src="/widgets-web/js/components/addon/addon-1.0.0.js"></script>
  <script src="/widgets-web/js/components/textarea/textarea-1.0.0.js"></script>
  <script src="/widgets-web/js/components/badge/badge-1.0.0.js"></script>
  <script src="/widgets-web/js/components/card/card-1.0.0.js"></script>
  <script src="/widgets-web/js/components/checkbox/checkbox-1.0.0.js"></script>
  <script src="/widgets-web/js/components/footer/footer-1.0.0.js"></script>
  <script src="/widgets-web/js/components/icon/icon-1.0.0.js"></script>
  <script src="/widgets-web/js/components/link/link-1.0.0.js"></script>
  <script src="/widgets-web/js/components/list-group/list-group-1.0.0.js"></script>
  <script src="/widgets-web/js/components/list-item/list-item-1.0.0.js"></script>
  <script src="/widgets-web/js/components/radio/radio-1.0.0.js"></script>
  <script src="/widgets-web/js/components/select/select-1.0.0.js"></script>
  </div>
</body>
</html>