@import '_util/variables.scss';
@import '_global';
@import '_partial/side-menu';
@import '_util/bulma_variables';
@import 'bulma';
@import '_views/home';

.tag:not(body) {
    background-color: #2d2d2d;
    display: inherit;
    padding-left: 0;
    padding-right: 0;
}