<hr>
<p>title: Footer<br>layout: components<br>footer: false<br>date: 2018-04-19 13:49:55</p>
<h2 id="tags"><a href="#tags" class="headerlink" title="tags:"></a>tags:</h2><p>页脚</p>
<h2 id="基本用法"><a href="#基本用法" class="headerlink" title="基本用法"></a>基本用法</h2><p>{% raw %}</p>
<p><db-footer marginTop="3"><br>    页脚展示<br></db-footer><br>{% endraw %}</p>
<pre><code class="html"><span class="tag">&lt;<span class="name">db-footer</span> <span class="attr">marginTop</span>=<span class="string">"3"</span>&gt;</span>
    页脚展示
<span class="tag">&lt;/<span class="name">db-footer</span>&gt;</span>
</code></pre>
<h2 id="通用属性"><a href="#通用属性" class="headerlink" title="通用属性"></a>通用属性</h2><ol>
<li><a href="../Utilities/Spacing.html">Spacing</a></li>
<li><a href="../Utilities/Flex.html">Flex</a> 中的 Flex container 相关属性</li>
</ol>
<h2 id="属性"><a href="#属性" class="headerlink" title="属性"></a>属性</h2><table>
<thead>
<tr>
<th>名称</th>
<th>说明</th>
<th>默认值</th>
<th>可选值</th>
<th>值类型</th>
</tr>
</thead>
<tbody>
<tr>
<td>widgetId</td>
<td>标识</td>
<td></td>
<td></td>
<td>string</td>
</tr>
</tbody>
</table>
